@model introduccionCsharp.Models.Distancia

@{
    ViewBag.Title = "Distancia";
}

<h2>Distancia</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="post">
                <label for="x1">X1:</label>
                <input type="text" name="x1" value="" />
                <br />
                <label for="x2">X2:</label>
                <input type="text" name="x2" value="" />
                <br />
                <label for="y1">Y1:</label>
                <input type="text" name="y1" value="" />
                <br />
                <label for="y2">Y2:</label>
                <input type="text" name="y2" value="" />
                <br />
                <input type="submit" value="enviar" />
            </form>
        </div>

        <div class="col-lg-6">
            <br />
            <h1>La Distancia es: @Html.DisplayFor(model => model.res)</h1>
        </div>
    </div>
</div>

